<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NurseNav</title>
  <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
<header>
  <h1>NurseNav</h1>
</header>
<main>
  <ul id="tags">
    <li class="tag">Elderly</li>
    <li class="tag">Toddlers</li>
    <li class="tag">Epileptic patients</li>
    <li class="tag">Mental health</li>
    <li class="tag">Alzheimer's and Dementia</li>
  </ul>
</main>
</body>
</html>
