:root {
  --accent: #F48FB1;
  --accent-hover: #e586a6;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--accent);
  padding: .75rem 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #000;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

main > section {
  flex-grow: 1;
  display: flex;
}

#tags {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: default;
  padding: .5rem 1rem;
  border-radius: 1rem;
  margin: .5rem;
}

.tag:hover {
  background-color: #e0e0e0;
}

.tag.selected {
  background-color: var(--accent);
}

.tag.selected:hover {
  background-color: var(--accent-hover);
}

#map {
  flex-grow: 1;
}

section {
  position: relative;
}

#results {
  background-color: #fff;
  max-height: 98%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
}

.result {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: .5rem;
  padding: .5rem;
}

p {
  margin: .2rem 0;
}
